<html>
<body>
    <h1>DASHBOARD</h1>

    <img src="https://cdn.discordapp.com/avatars/<%= user_info.id %>/<%= user_info.avatar %>.png" alt="">

    <p>Welcome to OUSS <%= user_info.username %></p>

    <a href="/auth/logout">Logout</a>

    <br>

    <h2>Roles</h2>

    <table>
      <th>
        <tr>
          <td>Role name</td>
          <td>Action</td>
        </tr>
      </th>
        <% roles.forEach(function(role){ %>
          <tr>
            <td><%= role.name %></td>
            <td>
              <a href="/discord/bot/role/<%=role.id%>/add">Add</a>
              <a href="/discord/bot/role/<%=role.id%>/delete">Remove</a>
            </td>
          </tr>
        <% }); %>
      <tbody>

      </tbody>
    </table>


</body>
</html>